body
{
  color: white;
  background: #c0d3ff;
  font-family: Georgia;
}
span
{
  font-size: 30px;
}
#webcam
{
  border: 5px groove rgb(203, 158, 245);
  width: 360px;
  height: 240px; 
}
#snapshot
{
  border: 5px groove rgb(203, 158, 245);
  width: 360px;
  height: 250px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 30px;
  font-family: Georgia;
}
